*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url(./image/sky-7943218_1280.webp);
    background-size: cover;
}

form{
    margin-top: 50px;
    text-align: center;
}

input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid white;
    background: transparent;
}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(132, 178, 242);
    border: none;
    color: white;
    margin-top: 20px;
}

form h1{
    margin-bottom: 30px;
    color: white;
}

::placeholder{
    color: black;
}

@media(max-width: 768px){
    main{
        background: url(./image/alps-8345488_1280.webp);
    }
    form h1{
        color:black;
    }
    input{
        color: antiquewhite;
    }
    button{
        color: black;
        background-color: rgba(255, 255, 255, 0.85);
    }
}
    
